// _partial: Fonts

@font-face {
    font-family: 'Rubik Mono One';
    src: url('../../fonts/google/rubicmonoone/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/google/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/google/material-icons/material-icons.woff2') format('woff2');
}
