// _partial: Fonts

@font-face {
    font-family: 'Rubik Mono One';
    src: url('../../fonts/google/rubicmonoone/RubikMonoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/google/opensans/OpenSans-Regular.ttf') format('truetype');
}
