// _partial: Palette

// SITE THEME
$theme_red: #F60B11;
$theme_gray: #333333;
$theme_primary: #F60B11;
$theme_highlight: #DC765E;
$theme_text_light: #F5F1F6;
$theme_text_dark: #332C34;
$theme_text-dark-secondary: #171617;


// RGB: PRIMARY
$black: #000;
$white: #FFF;
$red: #FF0000;
$green: #00FF00;
$blue: #0000FF;

// RGB: SECONDARY
$yellow: #FFFF00;
$magenta: #FF00FF;
$cyan: #00FFFF;

// RGB: TERTIARY
$rose: #FF007F;
$orange: #FF7F00;
$chart_green: #7FFF00;
$spring_green: #00FF7F;
$blue_azure: #007FFF;
$violet: #800080;

// RGB: PRIMARY SHADES
$green_dark: #008000;
$blue_dark: #003366;
$red_dark: #8b0000;
