// _partial: Palette

// SITE THEME
$theme_red: #F60B11;
$theme_gray: #333333;
$theme_primary: #F60B11;
$theme_highlight: #DC765E;
$theme_text_light: #F5F1F6;
$theme_text_dark: #332C34;
$theme_text-dark-secondary: #171617;
