@import 'Carousel';
@import 'YouTube';

#contact {
    background: transparent url('../../../www/images/pexels/contactmapmod.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}